<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.11.7.0" newVersion="106.11.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="COWIN-URL" value="https://cdn-api.co-vin.in/api/v2/appointment/sessions/public/"/>
    <add key="FIND-BY-DISTRICT" value="findByDistrict"/>
    <add key="FIND-BY-PIN" value="findByPin"/>
    <add key="CALLAPI" value="True"/>
    <add key="PINCODE" value="411057"/>
    <add key="DATE" value="10-05-2021"/>
    <add key="DISTRICT_ID" value="351"/>   <!-- Pune District ID-->
    
    <add key="AUTH_HEADERS" value="Authorization:yoeupflER6ewkNDYiQbrDw==,"/>
    <add key="HEADERS" value="Content-Type:application/json,Accept:application/json"/>
    <add key="CLICK_A_TELL_RESOURCE" value="message"/>
    <add key="CLICK_A_TELL_URL" value="https://platform.clickatell.com/v1/"/>
    <add key="MOBILENUMBERS" value="918109729582;919685317178;919340930902"/>
    <add key="NEXT_DAYS" value="7"/>

    


  </appSettings>
</configuration>